{% extends '../layouts/default.html' %}

{% block main %}
<h2>{{ title }}</h2>
{% endblock %}
{% block content %}
<div id="info" class="trebuchet"></div>
<div id="tail" class="monospace selection"></div>

<script type="text/javascript">
    initConsole("rest.log")
    function initConsole(filename) {    
        var lines = 0, notice = $("#info"), buffer = $('#tail');
        var socket = io.connect('http://81.17.19.237:8000');
        socket.on('connect', function() {
            console.log('Connected to stream');
        });


        socket.on('tail-'+filename, function(msg) {
            console.log("Message:");
            console.dir(msg);
            buffer.append(msg.lines.join('<br/>'));
            buffer.scrollTop(lines*100);
            lines = lines + msg.lines.length;
        });

    }
</script>

{% endblock %}
